.App {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #e5e5e5;
  height: auto;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fca311;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
}

.welcome {
  border: none;
  width: 80%;
  display: inline-block
}
.pageContainer {
  width: 90%;
}

.brand {
  height: 70px;
}

@media only screen and (max-width: 576px) {
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1rem;
  }

  .map {
    height: 300px;
  }

  .welcome {
    width: 85%;
  }

  .brand {
    height: 50px;
    display: inline-block;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1rem;
  }
  .welcome {
    width: 70%;
  }
}

@media only screen and (min-width: 1400px) {
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.5rem;
  }

  .welcome {
    width: 60%;
  }
}
